.admin{
    position: relative;
}
.cliente{
    background-color: rgb(230, 203, 203);
    position: absolute;
    width: 100%;
    margin-top: -9em;
    padding-top: 1em;
}
.cerrado{
   height: 0;
   opacity: 0;
}