
.Home{
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
    margin-top: 1em;
}
.bx{
    display: flex;
    align-items: center;
}
.fil{
    margin-top: -2em;
    color: var(--bg-header);
    font-size: 2em;
    cursor: pointer;
    position: fixed;
}
.name{
    font-size: 15px;
}

.Home_label{
    margin-right: 19em;
    color: #999;
    width: 20em;
    margin-left: 20em;
    
}
.Home_input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    max-width: 950px;
    margin-top: 9em;
    gap: 1em;
}
.Home_in{
    background-color: var(--input);
    width: 50%;
    height: 2em;
    border-radius: 2em;
    color: #999;
    text-align: center;
}
.Home_filter{
   background-color: rgb(250, 249, 248);
   position: fixed;
   top: 0;
   left: -100%;
   z-index: 1000;
   height: 100vh;
   transition: left .6s ease;
   width: 100%;
   max-width: 200px;
   color: white;
   border-right: 2px solid red;
   overflow-y: scroll;
}
.Home_perfil{
    background-color: var(--bg-header);
    padding-top: 5em;
    padding-bottom: .5em;
}
.Home_filter-close{
    left: 0%;
}
.Volver{
    display: flex;
    justify-content: end;
    padding: 0px 10px 0px 0px;

}
.Volver > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
}
.intro {
    display: flex;
    padding: 0em 1em 0em 1em;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #999;
}
@media (min-width: 700px) {
    .Home{
        padding: 2em;
        display: flex;
        flex-wrap: wrap;
        gap: 3em;
        justify-content: center;
        margin-top: 1em;
        width: 100%;
        max-width: 1024px;
        margin: auto;
    }
    .bx{
        display: flex;
        align-items: center;
    }
    .fil{
        margin-top: -2em;
        color: var(--bg-header);
        font-size: 2em;
        cursor: pointer;
        position: fixed;
        z-index: 1000;
    }
    .name{
        font-size: 15px;
    }
    
    .Home_label{
        margin-right: 19em;
        color: #999;
        width: 20em;
        margin-left: 4em;
    }
    .Home_input{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        max-width: 950px;
        margin-top: 9em;
        gap: 1em;
    }
    .Home_in{
        background-color: var(--input);
        width: 50%;
        height: 2em;
        border-radius: .5em;
        color: #999;
        text-align: center;
        border: 2px solid var(--bg-header);
    }
    .Home_filter{
        background-color: rgb(250, 249, 248);
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 1000;
        height: 100vh;
        transition: left .6s ease;
        width: 100%;
        max-width: 300px;
        color: white;
        border-right: 2px solid red;
        overflow-y: scroll;

    }
    .Home_filter-close{
        left: 0%;
    }
    .intro {
        display: flex;
        padding: 0em .5em 0em 13em;
        text-align: start;
        font-size: 18px;
        font-weight: 400;
        color: #999;
    }
}