/* admin.css */
.login-admin{
  position: relative;
}
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .form {
    width: 300px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 3em;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .title{
    color: red;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: var(--bg-header);
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
  }
  
  .form-button {
    background-color: var(--bg-header);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #ee4a6e;
  }
  
  /* Media query for responsiveness */
  @media screen and (max-width: 480px) {
    .form {
      width: 90%;
    }
  }
  