.ProductId_description{
    padding: 1em;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: em;
    margin: auto;
    margin-top: 5em;
}
@media (min-width:800px) {
    .ProductId_description{
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    gap: 2em;
    margin: auto;
    margin-top: 7em;
}
}
