.purchase {
    background-color: #f5f5f5;
    padding: 20px;
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    margin-top: 7em;
  }
  
  .purchase-title {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333333;
    text-align: center;
  }
  
  .purchase-product {
    margin-bottom: 20px;
  }
  
  .total-price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    margin-top: 20px;
  }
  
  .total-label {
    font-size: 18px;
    color: #999999;
    margin-right: 10px;
  }
  
  .total-value {
    font-size: 24px;
    color: var(--bg-header);
    font-weight: bold;
  }
  