.update{
    color: white;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #08B5C0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 2em;
}
.update_marco{
    background-color: #09a2adf5;
    padding: 1em;
    border: 2px solid white;
    border-radius: 3em;
    display: grid;
    align-items: center;
    gap: 0em;
}
.update_priva{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.update_icon{
    font-size: 8em;
}
.update_h1{
    font-size: 1.5em;
}
.update_form{
    display: grid;
    gap: 2em;
    justify-content: center;
}
.update_div{
    display: grid;
    text-align: center;
    gap: 1em;
    align-items: center;
    justify-content: center;
}
.update_input{
    height: 1.5em;
    width: 15em;
    text-align: center;
    border-radius: 2em;
    color: #08B5C0;
    margin-left: 2em;
}
.update_label{
    display: grid;
    gap: 0.6em;
    color: #0a2d44;
}
.update_button{
    height: 2em;
    width: 77%;
    text-align: center;
    border-radius: .8em;
    color: #f6fbfb;
    background-color: rgb(65, 189, 246);
    font-size: 1em;
    cursor: pointer;
    margin-left: 2em;
    margin-bottom: 1em;
}
.update_button:hover{
    filter: brightness(1.15);
}
@media (min-width:700px) {
    .update{
        color: white;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #08B5C0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .update_marco{
        background-color: #09a2adf5;
        padding: 1em;
        border: 2px solid white;
        border-radius: 3em;
        display: flex;

        align-items: center;
        gap: 3em;
    }
    .update_priva{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .update_icon{
        font-size: 15em;
    }
    .update_form{
        display: grid;
        gap: 2em;
        justify-content: center;
    }
    .update_div{
        display: grid;
        text-align: center;
        gap: 1em;
        align-items: center;
        justify-content: center;
    }
    .update_input{
        height: 2em;
        width: 20em;
        text-align: center;
        border-radius: 2em;
        color: #08B5C0;
    }
    .update_label{
        display: grid;
        gap: 1em;
    }
    .update_button{
        height: 2em;
        width: 80%;
        text-align: center;
        border-radius: .8em;
        color: #f6fbfb;
        background-color: rgb(65, 189, 246);
        font-size: 1em;
        cursor: pointer;
    }
}
