.prodcart{
    display: grid;
    grid-template-columns: 6em 1fr 2em;
    gap: 1em;
    align-items: center;
    width: 100%;
    max-width: 25em;
    color:  rgba(41, 72, 73, 0.6);
}
.prodcart_img{
    width: 100%;
    max-width: 6em;
}
.prodcart_title{
    font-size: 9rem;
    font-weight: 100;
}
.prodcart_delete{
    font-size: 1.2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #08B5C0;
    color: white;
    transition: transform 200ms ease;
    cursor: pointer;
}
.prodcart_delete:hover{
    transform: scale(1.1);
    filter: brightness(1.15);
}
.prodcart_footer{
    grid-column: span 3;
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 3em;
}
.prodcart_quantity{
    border: 1px solid #ccc9;
    padding: 0.2em 1em;
}
.prodcart_subtotal{
    display: flex;
    align-items: end;
    gap: 1em;
}
.prodcart_subtotal-label{
    font-weight: 300;
    font-size: 0.9rem;
}
.prodcart_subtotal-value{
    font-weight: 700;
}
.prodcart_subtotal-value::before{
    content: '$';
    padding-right: 0.3em;
}
@media (min-width:700px) {
    .prodcart{
        display: grid;
        grid-template-columns: 10em 1fr 2em;
        gap:1em;
        align-items: center;
        width: 100%;
        max-width: 35em;
    }
    .prodcart_img{
        width: 100%;
        max-width: 9em;
    }
    .prodcart_title{
        font-size: 1rem;
        font-weight: 500;
    }
    .prodcart_delete{
        font-size: 1.2rem;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: #08B5C0;
        color: white;
        transition: transform 200ms ease;
        cursor: pointer;
    }
    .prodcart_delete:hover{
        transform: scale(1.1);
        filter: brightness(1.15);
    }
    .prodcart_footer{
        grid-column: span 3;
        justify-self: end;
        display: flex;
        align-items: center;
        gap: 3em;
    }
    .prodcart_quantity{
        border: 1px solid #ccc9;
        padding: 0.2em 1em;
    }
    .prodcart_subtotal{
        display: flex;
        align-items: end;
        gap: 1em;
    }
    .prodcart_subtotal-label{
        font-weight: 300;
        font-size: 0.9rem;
    }
    .prodcart_subtotal-value{
        font-weight: 700;
    }
    .prodcart_subtotal-value::before{
        content: '$';
        padding-right: 0.3em;
    }
}