.Header{
    background-color: #08B5C0;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: var(--position-index-fourth);
    height: 70px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Header_h1{
    margin-left: 3em;
}
.Header_ul{
 width: 30em;;
 display: flex;
 gap: 5em;
 font-size: 1.1em;
}
.Header_li{
    color: white;
}

