.filter{
    border-bottom: 1px solid #ccca;
}
.filter_name{
    color: white;
}
.filter_li{
    cursor: pointer;
    margin-top: 1em;
    text-align: center;
    color: #6b6d67;
}
.filter_li:hover{
    color: white;
}
.filter2{
    margin-top: -2em;
}
.filter_fo{
    display: grid;
    gap: .3em;
    margin-bottom: .6em;
}
.filter_label{
    color: #6b6d67;
    margin-left: 1em;
}
.filter_input{
    width: 7em;
    height: 1.5em;
    border-radius: 1em;
    text-align: center;
}
.filter_btn{
    background-color: #9af5f0;
    border-radius: 1em;
    margin-left: .4em;
    color: rgb(150, 139, 139);
    cursor: pointer;
}
