.filter{
    border-bottom: 1px solid var(--bg-header);
}
.filter_name{
    color: var(--bg-header);
    border-bottom: 1px solid var(--bg-header);
    text-align: center;
}
.filter_li{
    cursor: pointer;
    margin-top: 1em;
    text-align: center;
    color: #5b5c59;
}
.filter_li:hover{
    color:  var(--bg-header);
}
.filter2{
    margin-top: -2em;
}
.filter_from{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filter_fo{
    display: grid;
    gap: .3em;
    margin-bottom: .6em;
}
.filter_label{
    color: var(--bg-header);
    margin-left: 1em;
}
.filter_input{
    width: 7em;
    height: 1.5em;
    border-radius: 1em;
    text-align: center;
}
.filter_btn{
    background-color: var(--bg-header);
    border-radius: 1em;
    margin-left: .4em;
    color: rgb(150, 139, 139);
    cursor: pointer;
    
   margin-bottom: 1em;
}
