/* clientes.css */
.Cliente {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Clientes {
  text-align: center;
  margin: 20px;
  background-color: rgb(158, 189, 224);
  padding: 1em;
  border-radius: 2em;
}

.buttonC {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.ComprasOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.ComprasContainer {
  background-color: white;
  padding: 20px;
  width: 70%;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  border-radius: .5em;
}

.CerrarCompras {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

