/* compras.css */
.Compras {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .u {
    list-style-type: none;
    padding: 0;
  }
  
  .i {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  strong {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .i:hover {
    background-color: #f0f0f0;
  }
  
  .h {
    margin-bottom: 15px;
  }
  
  /* Agregar más estilos aquí según sea necesario */
  