 @import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body{
    font-family: Yantramanav,sans-serif;;
}
button{
    border: none;
}
ul{
    list-style: none;
    padding-left: 0;
}
img{
    display: block;
    width: 100%;
}
a{
    text-decoration: none;
    
}
input{
    border: none;
}